.Vollkorn {
   font-family: "Vollkorn", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contact-icon-container{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.logo-icon{
    max-width: 2rem;
    margin: 1rem;
}
.card img{
    max-width: 2.5rem;
    margin: 1.5rem  ;
}
.card {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    font-family: Roboto, "Vollkorn", serif;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    padding: 0.5rem 0;
}
.card-list{
    font-family: Wotfard, Arial, sans-serif;
    list-style: none;
    padding: 0;
    max-height: 60vh;
    min-width: 25vw;
    overflow: auto;
    margin: 0;
}
/*
    these two are for hiding the scrollbar in different browsers
*/
.card-list{
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none;    /* Firefox */
}
.card-list::-webkit-scrollbar{
    display: none;            /* Chromium */
}


.card-container{
}
.card-text{
    max-width: 50rem;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner-text-container{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.contact-icon{
    width: 2.5rem;
    margin: .5rem;
}
.banner-font{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Roboto, Verdana, serif;
    margin: 0;
}
.navbar {
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #12418d;
    height: 11vh;
}

.search-form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 150px;
    overflow: hidden;
    width: 300px;
    align-self: center;
    background-color: white;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    background-color: #f7f5ed;
    flex: 1;
}
.left-container{
    display: flex;
    flex-direction: column;
    color: #12418d;
    font-family: Roboto, "Vollkorn", serif;
}
.list-header{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.left-header{
    align-self: center;
    font-size: 2rem;
    margin: 0.5rem 0;
}
.spinner {
    width: 25px;
    height: 25px;
}


.lighter{
    font-weight: lighter;
    margin: 1rem 0;
}
.bolder{
    font-weight: bolder;
}
.list-header h4{
    text-align: center;
}
.card p{
    margin: 0.3rem 0;
}

.card h4, h5{
    margin: 0.1rem 0;
}

.card h4{
    font-size: 1.2rem;
}

.search-form input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #12418d;
    outline: none;
}
.search-form-container{
    margin: 1rem;
}
.search-form button {
    background: transparent;
    margin: 0 .5rem;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 15%;
}

.search-form button:hover {
    background-color: #a4e4c8;
}

#map{
    width: 35%;
    height: 80vh;
    border: grey solid 1.5px;
    border-radius: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
    flex:1;
    background-color: #12418d;
    padding: 1rem;
    font-size: 0.8rem;
}
.footer-text{
    margin: 0;
    color: white;
}
.footer-text a{
    text-decoration: none;
    color: #03bf55;
}
.mobile-hint{
    display: none;
}

@media (max-width: 768px) {
    .navbar{
        align-items: stretch;
    }
    .header-container{
        flex-grow: 1;
        justify-content: space-between;
    }
    .search-form-container{
        display: none;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .main-container {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 0;
    }
    .list-header{
        display: none;
    }

    #map {
        width: 100vw;
        height: 60vh;
        border-radius: 0;
    }

    .left-container {
        width: 100%;
        padding: 0;
    }
    div .mobile-hint{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    ul{
        margin: 0;
    }
    .mobile-hint{
        display: block;
        margin: .5rem;
        width: 100%;
    }
    .mobile-hint h3{
        margin: 0rem;
        padding: 0 1rem;
    }
    .mobile-hint img{
        max-width: 2rem;
    }
    .card-list {
        max-height: 50vh;
        min-width: 90%;
    }

}
