.Vollkorn {
   font-family: "Vollkorn", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.logo-icon{
    max-width: 2rem;
    margin: 1rem;
}
.card img{
    max-width: 2rem;
    margin: 1.5rem  ;
}
.card{
    display: flex;
    align-items: center;
    font-family: Roboto, "Vollkorn", serif;
}
.card-list{
    list-style: none;
    padding: 0;
}
.card-container{
}
.card-text{
    max-width: 50rem;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner-font{
    font-size: 2rem;
    font-weight: bold;
    font-family: Roboto, Verdana, serif;
}
.navbar {
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    align-self: center;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 1.5rem 0;
}
.left-container{
    display: flex;
    flex-direction: column;

}
.list-header{
    margin: 1rem;
    align-self: center;
}
.card p{
    margin: 0.5rem 0;
}
.card h4, h5{
    margin: 0.2rem 0;
}
.card h4{
    font-size: 1.2rem;
}

.right-container{
    border: grey solid 1.5px;
    border-radius: 20px;
    overflow: hidden;
}
.search-form input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.search-form-container{
    margin: 1rem;
}
.search-form button {
    background-color: #00b140;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #00912d;
}
